html{
    height: 100%;
    box-sizing: border-box;
    margin: 0 !important;
}
body{
    position: relative;
    margin: 0;
    padding-bottom: 11rem;
    min-height: 100%; 
	background: #f8f8f8;
}
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #ebebeb;
    border-top: solid 1px rgb(199, 199, 199);
}
ul {
	list-style-type: none;
	padding: 0;
}
li{
	margin: auto;
}
a{
    text-decoration: none;
    &:hover{
        color: #007bff;
        text-decoration: none;
    }
}
p{
    margin: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin-bottom: 0;
    letter-spacing: .4px;

}
.new-brief{
    margin: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin-bottom: 0;
}
a, p{    
    font-size:1rem;
}
h1{
    font-size:2.5rem;
    font-family: Georgia;
}
h3{    
    font-size: 2rem;    
    line-height: 0.9em;

    margin-top: 8px;
    margin-bottom: 0;
    margin-left: .5em;
    margin-right: .5em;
}

/*
@media (min-width: 768px) {  
  }
@media (min-width: 992px) {
  }
@media (min-width: 1200px) { //1rem = 16px
}
@media (min-width: 1500px) {  
}

*/